/* Null */
*,*:before,*:after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
html,body {
  height: 100%;
  background-color: #333;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #fff;
  font-size: 16px;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center; 
}
/* ---------------------------- */

/* Main Styles */

.items {

}

.items_container {
  max-width: 1200px;
  padding: 0px 15px;
  margin: 0px auto;
}

.items_body {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
}

.item {

}

.item_video {
  position: relative;
  margin: 0px 0px 15px 0px;
  padding: 0px 0px 56% 0px;
}

.item_video video {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.item_text {
  font-size: 18px;
  line-height: 150%;
}
