/* Null */
html,body {
  height: 100%;
  background-color: #333;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #fff;
  font-size: 16px;
}


/* ---------------------------- */

/* Class red can be used with div, background red will be used only on div with class red */

div.red{
  background: red;
}

/* id takes precedence over all classes, this is why span with id-blue note changing color on red regardless of the fact that it has a class of red*/

#blue{
  background: blue;
}

.red{
  background: red;
}