/* Null */
html,body {
  height: 100%;
  background-color: #333;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #fff;
  font-size: 16px;
}


/* ---------------------------- */

/* And we can highlight separately child of block like "b" in "span" 
*/
span > b{
  background: red;
}

li.red ~ li{
  background: red;
}