/* Null */
*,*:before,*:after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
html,body {
  height: 100%;
  background-color: #333;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #fff;
  font-size: 16px;
}

/* Main Styles */

.wrapper {
 min-height: 100%; 
 display: grid;
 grid-template: minmax(100px, auto) 1fr minmax(70px, auto) / 1fr;
 grid-template-areas:
  "header"
  "main"
  "footer";
}

.header{
  grid-area: header;
  padding: 15px;
  background-color: #794f45;
  display: grid;
  align-items: center;
  grid-template: 1fr / 1fr minmax(auto, 300px) minmax(auto, 1100px) 1fr;
}

.header_logo {
  width: 70px;
  height: 70px;
  border-radius: 20%;
  background-color: #fff;
  grid-column: 2 / 3;
}

.header_menu {
  grid-column: 3 / 4;
}

.header_list {
  display: grid;
  grid-auto-flow: column;
  justify-items: end;
}

.header_list li {

}

.header_link {
  color: #fff;
  font-size: 18px;
}

.header_burger {

}

.main {
  grid-area: main;
  padding: 30px 15px;
  display: grid;
  grid-template: 1fr / 1fr minmax(auto, 300px) minmax(auto, 1100px) 1fr;

}

.sidebar {
  grid-column: 2 / 3;
  background-color: #7a956b;
  padding: 30px 15px;
}

.sidebar_menu {

}

.sidebar_list {

}

.sidebar_list li {
  margin: 0px 0px 15px 0px;
}

.sidebar_link {
  color: #fff;
  font-size: 20px;
}

.content {
  grid-column: 3 / 4;
  padding: 0px 0px 0px 30px;
}

.content_title {

}

.content_gallery {
  margin: 0px 0px 30px 0px;
}

.gallery {

}

.gallery_title {

}

.gallery_items {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.gallery_item {
  position: relative;
  padding: 0px 0px 85% 0px;
}

.gallery_item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery_item_big {
  grid-column: span 2;
  grid-row: span 2;

}

.content_products {

}

.products {

}

.products_title {

}

.products_items {
  display: grid;
  column-gap: 30px;
  row-gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.product_item {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: auto 1fr minmax(40px, 1fr) / 1fr;
}

.product_image {
  position: relative;
  padding: 0px 0px 90% 0px;
  margin: 0px 0px 20px 0px;
}

.product_image img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.products_name {
  font-size: 20px;
  color: #fff;
  line-height: 30px;
  margin: 0px 0px 20px 0px;
}

.products_button {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
  line-height: 40px;
  justify-self: start;
  background-color: #77608d;
  padding: 0px 20px;
}

.footer {
  grid-area: footer;
  background-color: #77608d;
  display: grid;
  padding: 15px;
  grid-template: 1fr / 1fr minmax(auto, 300px) minmax(auto, 1100px) 1fr;
}

.foote_copy {
  grid-column: 2 / 3;
}

.footer_text {
  text-align: right;
  grid-column: 3 / 4;
}

