/* Null */
*,*:before,*:after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}

body {
  line-height: 1;
  background-color: #333;
  color: #fff;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/* ------------------ */

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center; 
}
/* ---------------------------- */

/* Main Styles */

.example {
  padding: 80px 0;
}

.example_container {
  padding: 0px 15px;
  margin: 0px auto;
  max-width: 65.625rem;
  position: relative;
}

.example_container:before {
  content: "";
  background: url("../img/decor.svg") 0 0 / 100% no-repeat;
  position: absolute;
  right: 0;
  width: 14.57%;
  padding-top: 22.95%;
  top: 50%;
  transform: translate(50%, -50%);
}

/* Title */

.example_header {
  margin: 0px 0px 25px 0px;
  max-width: 46.875rem;
}

.example_sub-title {
  color: #a989c7;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  line-height: 1.7;
  margin: 0px 0px 1.07em 0px;
}

.example_title {
  color: #93b482;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 2.625rem;
  line-height: 1.19;
  margin: 0px 0px 0.38em 0px;
  letter-spacing: 0.12em;
}

/* Text */

.example_text {
  line-height: 1.5;
}

/* Card structure */

.example_items {

}

.example_item {

}

/* Cards */

.item-example {
  display: flex;
  column-gap: 23px;
}

.item-example_icon {
  flex: 0 0 63px;
}

.item-example_body {

}

.item-example_title {
  color: #f2726f;
  font-weight: 900;
  font-size: 1.5em;
  margin: 0px 0px 0.45em 0px;
}

.item-example_text {
  line-height: 1.5;
}
